body {
  font-family: 'Karla';
  margin: 0;
  background-color: #F5F7FB;
}

* {
  box-sizing: border-box;
}

.check-button {
  width: 120px;
  height: 35px;
  background-color: #4D5B9E;
  color: #F5F7FB;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
}

