.question-container {
  margin-bottom: .65rem;
    width: 100%;
    text-align: left;
}

.question-title{
  font-size: 1.1rem;
  color: rgba(41, 50, 100, 1);
  margin-bottom: .5rem;
}

.answer-button {
  border: 0.8px solid #4D5B9E;
  font-size: 10;
  height: 20px;
  border-radius: 8px;
  background-color: transparent;
  padding: 3px 10px 3px 10px;
  margin-right: 0.6rem;
  margin-bottom: 0.2rem;
}